
# RMI properties
server.rmi.ssl.truststore.file=/jmeter/bin/rmi_keystore.jks
server.rmi.ssl.keystore.file=/jmeter/bin/rmi_keystore.jks

# fixing the RMI client port to a single IP does not work when RMI SSL is enabled!
# for distributed docker testing (ie. when containers run on different hosts),
# we are forced to disable it!
#   see https://bz.apache.org/bugzilla/show_bug.cgi?id=62463
#   and https://stackoverflow.com/questions/50752126/unable-to-start-jmeter-4-0-client-with-ssl-rmi/50888705
#   for details on "client.rmi.localport=0"
server.rmi.ssl.disable=true

hc.parameters.file=/data/hc.parameters

# user-id distribution for 3 slaves.
# remove 2 pair of lines as required PER SLAVE, so that UIDs DO NOT OVERLAP between all slaves!!

## USERCOUNTER_SLAVE_START=0
## USERCOUNTER_SLAVE_END=2999

## USERCOUNTER_SLAVE_START=3000
## USERCOUNTER_SLAVE_END=5999

## USERCOUNTER_SLAVE_START=6000
## USERCOUNTER_SLAVE_END=8999
